@font-face {
  font-family: 'Arcade Interlaced';
  src: url('../font/ARCADE_I.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.charmonman-regular {
  font-family: "Charmonman", cursive;
  font-weight: 400;
  font-style: normal;
}

.charmonman-bold {
  font-family: "Charmonman", cursive;
  font-weight: 700;
  font-style: normal;
}

.arcade-interlaced-regular {
  font-family: 'Arcade Interlaced';
  font-weight: 400;
  font-style: normal;
}

.arcade-interlaced-semibold {
  font-family: 'Arcade Interlaced';
  font-weight: 600;
  font-style: normal;
}

.chakra-petch-light {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.chakra-petch-regular {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.chakra-petch-medium {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.chakra-petch-semibold {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.chakra-petch-bold {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.chakra-petch-light-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.chakra-petch-regular-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.chakra-petch-medium-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.chakra-petch-semibold-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.chakra-petch-bold-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.darker-grotesque-light{
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.darker-grotesque-regular{
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.darker-grotesque-medium{
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.darker-grotesque-semibold{
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.darker-grotesque-bold{
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.darker-grotesque-extrabold{
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.darker-grotesque-black{
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.inter-bold {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
}


