.charmonman-regular {
  font-family: "Charmonman", cursive;
  font-weight: 400;
  font-style: normal;
}

.charmonman-bold {
  font-family: "Charmonman", cursive;
  font-weight: 700;
  font-style: normal;
}
